@model Exercicio1.Models.Estabelecimento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estabelecimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaginaWeb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaginaWeb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdEstabelecimento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
