@model IEnumerable<Exercicio1.Models.Estabelecimento>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Estabelecimentos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeComercial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaginaWeb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeComercial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaginaWeb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEstabelecimento }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEstabelecimento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEstabelecimento })
        </td>
    </tr>
}

</table>
