@model IEnumerable<Exercicio1.Models.Categoria>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de categorias</h2>

<p>
    @Html.ActionLink("Inserir categoria", "Inserir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Alterar", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Excluir", "Excluir", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
