@model Exercicio1.Models.Estabelecimento

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Tem certeza que quer excluir este estabelecimento?</h3>
<div>
    <h4>Estabelecimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdEstabelecimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEstabelecimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaginaWeb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaginaWeb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a lista", "Index")
        </div>
    }
</div>
